@model IEnumerable<Product>
@section Scripts {

    @*<script src="~/ts/storeCustomer.js"></script>
        <script src="~/ts/main.js"></script>*@
    <script src="~/Clientapp/dist/runtime.js"></script>
    <script src="~/Clientapp/dist/polyfills.js"></script>
    <script src="~/Clientapp/dist/styles.js"></script>
    <script src="~/Clientapp/dist/vendor.js"></script>
    <script src="~/Clientapp/dist/main.js"></script>
}
<h1>Shop</h1>
@*<p>Count:@Model.Count()</p>

    @foreach (var p in Model)
    {
        <div class="col-md-3 offset-md-3">
            <div class="card">
                <h1>Dutch treat</h1>
                <img src="~/img/@(p.ArtId).jpg" class="img-fluid" />
                <h3>@p.Category - @p.Size</h3>
                <ul class="list-product">
                    <li>price: @p.Price</li>
                    <li>Artist: @p.Artist</li>
                    <li>Title: @p.Title</li>
                    <li>Description: @p.ArtDescription</li>
                </ul>
                <button id="sendMessage" class="btn-group">Buy</button>
            </div>
        </div>
    }*@
<the-shop></the-shop>